<h1>Editing Booking Template Item</h1>

<%= render 'form', booking_template_item: @booking_template_item %>

<%= link_to 'Show', @booking_template_item %> |
<%= link_to 'Back', booking_template_items_path %>
